---
import PaginationLink from './PaginationLink.astro';

const { dir, pagination } = Astro.locals.starlightRoute;
const { prev, next } = pagination;
const isRtl = dir === 'rtl';
---

<div class="print:hidden min-w-full flex flex-row items-stretch justify-between gap-4 px-2 pb-8 pt-4 border-t border-[var(--color-border)]" dir={dir}>
  {
    prev && (
      <PaginationLink
        label={prev.label}
        href={prev.href}
        rel="prev"
        side={isRtl ? 'right' : 'left'}
      />
    )
  }
  <div class="flex-1"></div>
  {
    next && (
      <PaginationLink
        label={next.label}
        href={next.href}
        rel="next"
        side={isRtl ? 'left' : 'right'}
      />
    )
  }
</div>
